@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* dropdown */

.dropdown-wrap {
    max-width: 320px;
    min-width: 266px;
}

.dropdown-wrap_small {
    max-width: 266px;
    .dropdown__button {
        border-radius: 4px 4px 0px 0px;
    }
}

.dropdown-title {
    @extend %h3;
    line-height: 2;
}

.dropdown {
    width: 100%;
    position: relative;
}

.dropdown__invisible-button-text {
    display: none;
}

.dropdown__button {
    @extend %body;
    border: 1px solid $ds25;
    border-radius: 4px;
    padding: 9.5px 15px;
    width: 100%;
    min-height: 44px;
    max-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.dropdown__button::before {
    content: "";
    width: 44px;
    height: 44px;
    position: absolute;
    background-color: #fff;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.dropdown__button::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid $ds75;
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-70%) rotate(-135deg);
    z-index: 2;
}

.dropdown__button:hover {
    border: 1px solid $ds50;
}

.dropdown__list {
    width: 100%;
    border: 1px solid $ds50;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    display: none;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 15px;
    padding-bottom: 0px;
    background-color: #fff;
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 15;
}

.dropdown_active {
    .dropdown__button {
        border: 1px solid $ds50;
        border-radius: 4px 4px 0px 0px;
        box-shadow: 0px 10px 20px $ds5;
    }
    .dropdown__list {
        display: block;
        box-shadow: 0px 10px 20px $ds5;
    }
}

.dropdown__line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.dropdown__line-text {
    @extend %h3;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown__counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.dropdown__increment,
.dropdown__decrement {
    @extend %body;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid $ds50;
    background: #fff;
}

.dropdown__decrement_disabled {
    border-color: $ds25;
    color: $ds25;
}

.dropdown__number {
    @extend %h3;
    display: inline-block;
    width: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown__apply-clear {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 18px;
}

.dropdown__apply-clear_disabled {
    display: none;
}

.dropdown__clear,
.dropdown__apply {
    @extend %h3;
    color: $purple;
    background-color: #fff;
    white-space: nowrap;
    max-width: 45%;
    overflow: hidden;
}

.dropdown__clear:hover,
.dropdown__apply:hover {
    color: $brighter-purple;
}

.dropdown__clear {
    opacity: 0;
    cursor: default;
}

.dropdown__clear_visible {
    opacity: 1;
    cursor: pointer;
}
