mixin dropdown(dropdownWrapClassList, dropdownClassList, title, firstLine, secondLine, thirdLine)
    -if (dropdownWrapClassList === undefined) {dropdownWrapClassList = "";}
    div(class="dropdown-wrap " + dropdownWrapClassList)
        h3(class="dropdown-wrap__title")= title
        -if (dropdownClassList === undefined) {dropdownClassList = "";}
        div(class="dropdown " + dropdownClassList)
            button(class="dropdown__button" type="button") Сколько гостей
            div(class="dropdown__list")
                include ./dropdown__line/dropdown__line.pug
                +dropdown__line(firstLine)
                +dropdown__line(secondLine)
                +dropdown__line(thirdLine)
                include ./dropdown__apply-clear/dropdown__apply-clear.pug
                +dropdown__apply-clear()