mixin dropdown(dropdownWrapClassList, dropdownListClassList, title, firstLine, secondLine, thirdLine)
    -if (dropdownWrapClassList === undefined) {dropdownWrapClassList = "";}
    div(class="dropdown-wrap " + dropdownWrapClassList)
        h3(class="dropdown-wrap__title")= title
        div(class="dropdown")
            button(class="dropdown__button") Сколько гостей
            -if (dropdownListClassList === undefined) {dropdownListClassList = "";}
            div(class="dropdown__list " + dropdownListClassList)
                include ./dropdown__line/dropdown__line.pug
                +dropdown__line(firstLine)
                +dropdown__line(secondLine)
                +dropdown__line(thirdLine)
                include ./dropdown__apply-clear/dropdown__apply-clear.pug
                +dropdown__apply-clear()