@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

.pagination {
    max-width: 241px;
}

.pagination__title {
    @extend %h3;
    line-height: 3.5;
}

.pagination__numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.pagination__text {
    @extend %body;
    line-height: 1.2;
    margin-top: 12px;
    margin-left: 4px;
}

.pagination__number,
.pagination__dots {
    @extend %body;
    line-height: 1;
    font-size: 12px;
    color: $ds50;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
}

.pagination__dots {
    cursor: default;
}

.pagination__number:hover {
    background: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
    color: #fff;
}

.pagination__arrow {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    position: relative;
}

.pagination__arrow:hover {
    background: linear-gradient(180deg, $green 0%, #66d2ea 100%);
    color: #fff;
}

.pagination__arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 13px;
    height: 2px;
    background-color: $purple;
}

.pagination__arrow:hover::before {
    background-color: #fff;
}

.pagination__arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px) rotate(-45deg);
    width: 11px;
    height: 11px;
    border: 2px solid $purple;
    border-top: none;
    border-left: none;
}

.pagination__arrow:hover::after {
    border-color: #fff;
}
