mixin pagination(parameters)
    - if (parameters.classList === undefined) {parameters.classList = "";}
    - if (parameters.numberOfPages === undefined) {parameters.numberOfPages = "15";}
    div(class="pagination " + parameters.classList)
        h3(class="pagination__title")= parameters.title
        div(class="pagination__numbers")
            button(class="pagination__number" type="button") 1
            button(class="pagination__number" type="button") 2
            button(class="pagination__number" type="button") 3
            div(class="pagination__dots") &hellip;
            button(class="pagination__number" type="button")= parameters.numberOfPages
            button(class="pagination__arrow" type="button")
        div(class="pagination__text") 1 – 12 из 100+ вариантов аренды