extends ./../../../assets/page-template.pug
block title
    title Error 404
block content
    div(class="error-404__wrap")
        //content
        div(class="error-404__content")
            span(class="error-404__message") Страница не найдена