.rate-button__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 16px;
}

.rate-button__rate {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.rate-button__rate:last-child {
    margin-right: 0px;
}

.rate-button__stars{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.rate-button__star, .rate-button__star-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.rate-button__star {
    opacity: 0;
}

.rate-button__star-empty {
    opacity: 1;
}

.rate-button__stars_active .rate-button__star{
    opacity: 1;
}

.rate-button__stars_active .rate-button__star-empty{
    opacity: 0;
}
