@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* rate-button */

.rate-button {
    max-width: 280px;
    font-size: 0px;
}

.rate-button__title {
    @extend %h3;
    line-height: 4;
}

.rate-button__rate {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.rate-button__stars{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #fff;
}

.rate-button__star, .rate-button__star-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.rate-button__star {
    opacity: 0;
}

.rate-button__star-empty {
    opacity: 1;
}

.rate-button__stars_active .rate-button__star{
    opacity: 1;
}

.rate-button__stars_active .rate-button__star-empty{
    opacity: 0;
}
