@import "./../../../assets/scss-text-templates.scss";

/* form-elements__content */

.form-elements__content {
    padding-top: 32px;
}

.form-elements__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 675px) {
        justify-content: center;
    }
}

.form-elements__flex-element {
    width: 320px;
    margin-bottom: 100px;
    @media (max-width: 1071px) {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 675px) {
        width: 100%;
    }
}

.form-elements__flex-element_with-m-l {
    @media (max-width: 1071px) {
        margin-left: 0px;
    }
}

.form-elements__flex-element_wide {
    width: 710px;
    @media (max-width: 1071px) {
        width: 50%;
    }
    @media (max-width: 475px) {
        width: 60%;
    }
    @media (max-width: 380px) {
        width: 80%;
    }
    @media (max-width: 340px) {
        width: 100%;
    }
}

.form-elements__buttons {
    max-width: 320px;
    @media (max-width: 1071px) {
        text-align: center;
    }
}

.form-elements__like-buttons {
    font-size: 0px;
}

.form-elements__title {
    @extend %h3;
    line-height: 2;
}
