extends ./../../../assets/page-template.pug
block title
    title Form Elements
block content
    // header
    include ./../../../components/header-with-pale-logo/header-with-pale-logo.pug
    +header-with-pale-logo({
        classList: "container-1440"
    })
    // content
    div(class="content")
        div(class="container-1160")
            form(class="form" action="#")
                section(class="form__flex-element")
                    include ./../../../components/email/email.pug
                    +email({
                        classList: "margin-bottom_15",
                        title: "Text Field"
                    })
                    +email({
                        classList: "margin-bottom_15",
                        title: "Text Field"
                    })
                    include ./../../../components/dropdown/dropdown.pug
                    +dropdown({
                        classList: "margin-bottom_15",
                        isSmall: false,
                        title: "Dropdown",
                        active: false,
                        buttonText: "Сколько гостей",
                        applyClear: true,
                        lines: [
                            {
                                text: "Взрослые",
                                number: "0"
                            },
                            {
                                text: "Дети",
                                number: "0"
                            },
                            {
                                text: "Младенцы",
                                number: "0"
                            }
                        ]
                    })
                    include ./../../../components/masked-text-field/masked-text-field.pug
                    +masked-text-field({
                        classList: "margin-bottom_35",
                        title: "Masked text field"
                    })
                    include ./../../../components/date-dropdown/date-dropdown.pug
                    +date-dropdown({
                        classList: "margin-bottom_35 margin-right_15",
                        title: "Date Dropdown"
                    })
                    +date-dropdown({
                        classList: "margin-bottom_35",
                        title: "Date Dropdown"
                    })
                    include ./../../../components/filter-date-dropdown/filter-date-dropdown.pug
                    +filter-date-dropdown({
                        classList: "margin-bottom_35",
                        title: "Filter Date Dropdown"
                    })
                    include ./../../../components/subscription-text-field/subscription-text-field.pug
                    +subscription-text-field({
                        title: "Subscription text field"
                    })
                section(class="form__flex-element margin-left_54")
                    include ./../../../components/checkbox/checkbox.pug
                    +checkbox({
                        classList: "margin-bottom_20",
                        title: "Checkbox Buttons",
                        isSmall: true,
                        items: [
                            {
                                text: "Можно курить",
                                active: false
                            },
                            {
                                text: "Можно с питомцами",
                                active: true
                            },
                            {
                                text: "Можно пригласить гостей (до 10 человек)",
                                active: true
                            }
                        ]
                    })
                    include ./../../../components/radio-buttons/radio-buttons.pug
                    +radio-buttons({
                        classList: "margin-bottom_40",
                        title: "Radio Buttons",
                        nameOfGroup: "Ваш пол",
                        items: [
                            {
                                text: "Мужчина",
                                active: true
                            },
                            {
                                text: "Женщина",
                                active: false
                            }
                        ]
                    })
                    include ./../../../components/toggle/toggle.pug
                    +toggle({
                        classList: "margin-bottom_20",
                        title: "Toggle",
                        items: [
                            {
                                text: "Получать спецпредложения",
                                active: true
                            },
                            {
                                text: "Получать спецпредложения",
                                active: false
                            }
                        ]
                    })
                    include ./../../../components/like-button/like-button.pug
                    +like-button({
                        classList: "margin-bottom_25",
                        title: "Like Button",
                        items: [
                            {
                                number: "2",
                                active: false
                            },
                            {
                                number: "12",
                                active: true
                            }
                        ]
                    })
                    include ./../../../components/rate-button/rate-button.pug
                    +rate-button({
                        title: "Rate Button",
                        items: [4, 5]
                    })
                section(class="form__flex-element")
                    include ./../../../components/range-slider/range-slider.pug
                    +range-slider("form__block", "Range Slider")
                    include ./../../../components/buttons/buttons.pug
                    +buttons("form__block", "Buttons")
                    include ./../../../components/pagination/pagination.pug
                    +pagination("form__block", "Pagination")
                section(class="form__flex-element")
                    +dropdown({
                        classList: "margin-bottom_15",
                        isSmall: true,
                        title: "Dropdown",
                        active: false,
                        buttonText: "Апартаменты",
                        applyClear: false,
                        lines: [
                            {
                                text: "Спальни",
                                number: "2"
                            },
                            {
                                text: "Кровати",
                                number: "2"
                            },
                            {
                                text: "Ванные Комнаты",
                                number: "0"
                            }
                        ]
                    })
                    +dropdown({
                        classList: "margin-bottom_15",
                        isSmall: true,
                        title: "Dropdown",
                        active: true,
                        buttonText: "Апартаменты",
                        applyClear: false,
                        lines: [
                            {
                                text: "Спальни",
                                number: "2"
                            },
                            {
                                text: "Кровати",
                                number: "2"
                            },
                            {
                                text: "Ванные Комнаты",
                                number: "0"
                            }
                        ]
                    })
                    include ./../../../components/expandable-checkbox-list/expandable-checkbox-list.pug
                    +expandable-checkbox-list({
                        classList: "margin-bottom_100",
                        title: "Expandable Checkbox List",
                        checkbox: {
                            items: [
                                {
                                    text: "Завтрак",
                                    active: false
                                },
                                {
                                    text: "Письменный стол",
                                    active: true
                                },
                                {
                                    text: "Стул для кормления",
                                    active: true
                                },
                                {
                                    text: "Кроватка",
                                    active: true
                                },
                                {
                                    text: "Телевизор",
                                    active: false
                                },
                                {
                                    text: "Шампунь",
                                    active: false
                                }
                            ]
                        }
                    })
                section(class="form__flex-element margin-left_50")
                    +dropdown({
                        classList: "margin-bottom_100",
                        isSmall: false,
                        title: "Dropdown",
                        active: true,
                        buttonText: "Сколько гостей",
                        applyClear: true,
                        lines: [
                            {
                                text: "Взрослые",
                                number: "0"
                            },
                            {
                                text: "Дети",
                                number: "0"
                            },
                            {
                                text: "Младенцы",
                                number: "0"
                            }
                        ]
                    })
                    +checkbox({
                        classList: "margin-bottom_35",
                        title: "Rich Checkbox Buttons",
                        isSmallText: true,
                        items: [
                            {
                                title: "Широкий коридор",
                                text: "Ширина коридоров в номере не менее 91 см",
                                active: false
                            },
                            {
                                title: "Помощник для инвалидов",
                                text: "На 1 этаже вас встретит специалист  и проводит до номера",
                                active: false
                            }
                        ]
                    })
                section(class="form__flex-element")
                    +dropdown({
                        classList: "margin-bottom_100",
                        isSmall: false,
                        title: "Dropdown",
                        active: true,
                        buttonText: "Сколько гостей",
                        applyClear: true,
                        lines: [
                            {
                                text: "Взрослые",
                                number: "2"
                            },
                            {
                                text: "Дети",
                                number: "1"
                            },
                            {
                                text: "Младенцы",
                                number: "0"
                            }
                        ]
                    })
                    include ./../../../components/bullet-list/bullet-list.pug
                    +bullet-list({
                        bulletListClassList: "form__block",
                        title: "Bullet List",
                        items: [
                            "Нельзя с питомцами",
                            "Без вечеринок и мероприятий",
                            "Время прибытия — после 13:00, а выезд до 12:00"
                        ]
                    })
                section(class="form__flex-element")
                    include ./../../../components/icon-text-list/icon-text-list.pug
                    +icon-text-list({
                        iconTextListClassList: "form__block",
                        items: [
                            {
                                title: "Комфорт",
                                text: "Шумопоглощающие стены",
                                imgName: "smile.svg"
                            },
                            {
                                title: "Удобство",
                                text: "Окно в каждой из спален",
                                imgName: "home.svg"
                            }
                        ]
                    })
                section(class="form__flex-element")
                    include ./../../../components/reviews/reviews.pug
                    +reviews({
                        classList: "form__block",
                        items: [
                            {
                                imgName: "Мурад Сарафанов.jpg",
                                user: "Мурад Сарафанов",
                                dateString: "5 дней назад",
                                text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
                                likeOptions: {
                                    number: "12",
                                    active: true
                                }
                            }
                        ]
                    })