/* content */

.content {
    padding-top: 32px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__flex-element {
    width: 320px;
    margin-bottom: 100px;
}

.margin-bottom_15 {
    margin-bottom: 15px;
}

.margin-bottom_35 {
    margin-bottom: 35px;
}

.margin-bottom_100 {
    margin-bottom: 100px;
}

.margin-right_15 {
    margin-right: 15px;
}

.margin-left_54 {
    margin-left: 54px;
}

.margin-left_50 {
    margin-left: 50px;
}