@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* radio-buttons */

.radio-buttons {
    max-width: 266px;
    min-width: 266px;
    width: 100%;
}

.radio-buttons__title {
    @extend %h3;
    line-height: 3;
}

.radio-buttons__label {
    display: inline-block;
    padding-right: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
    margin-bottom: 10px;
}

.radio-buttons__radio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    cursor: pointer;
    z-index: 1;
}

.radio-buttons__check {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid $ds25;
    border-radius: 10px;
    z-index: 2;
}

.radio-buttons__text {
    @extend %body;
    padding-left: 30px;
    color: $ds50;
}

.radio-buttons__radio:checked + .radio-buttons__check {
    border-color: $purple;
}

.radio-buttons__radio:checked + .radio-buttons__check::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
    border-radius: 10px;
}

.radio-buttons__radio:checked ~ .radio-buttons__text {
    color: $ds75;
}
