mixin small-dropdown(smallDropdownWrapClassList, title, firstLine, secondLine, thirdLine)
    -if (smallDropdownWrapClassList === undefined) {smallDropdownWrapClassList = "";}
    div(class="small-dropdown-wrap " + smallDropdownWrapClassList)
        h3(class="small-dropdown-wrap__title")= title
        div(class="small-dropdown")
            button(class="small-dropdown__button") Сколько спальных мест
            div(class="small-dropdown__list small-dropdown__list_invisible")
                mixin small-dropdown__line(title, number)
                    div(class="small-dropdown__line")
                        - if(title === undefined) {title = "Default Title";}
                        span(class="small-dropdown__line-title")= title
                        div(class="small-dropdown__counter")
                            button(class="small-dropdown__decrement small-dropdown__decrement_disabled") -
                            span(class="small-dropdown__number")= number
                            button(class="small-dropdown__increment") +
                +small-dropdown__line(firstLine, "2")
                +small-dropdown__line(secondLine, "2")
                +small-dropdown__line(thirdLine, "0")