mixin no-bg-button(noBgButtonClassList, buttonText)
    - if(noBgButtonClassList === undefined) {noBgButtonClassList = "";}
    button(class="no-bg-button " + noBgButtonClassList type="button")
        div(class="no-bg-button__text")= buttonText