mixin checkbox-buttons__checkbox(text)
    label(class="checkbox-buttons__label")
        input(class="checkbox-buttons__checkbox" type="checkbox" name=text value="Yes")
        span(class="checkbox-buttons__text")= text