@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* date-dropdown */

.date-dropdown {
    max-width: 320px;
    min-width: 302px;
    width: 100%;
    cursor: pointer;
}

.date-dropdown__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 0px;
}

.date-dropdown__field {
    max-width: 50%;
}

.date-dropdown__title {
    @extend %h3;
    line-height: 2;
    width: 100%;
}

.date-dropdown__button {
    @extend %body;
    border: 1px solid $ds25;
    border-radius: 4px;
    padding: 9.5px 15px;
    min-width: 150px;
    width: 100%;
    background: #fff;
    text-align: left;
    position: relative;
}

.date-dropdown:hover .date-dropdown__button {
    border-color: $ds50;
}

.date-dropdown__button::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid $ds75;
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-70%) rotate(-135deg);
}

.date-dropdown__calendar {
    display: none;
    padding-top: 5px;
}

.date-dropdown_active .date-dropdown__calendar {
    display: block;
}

.date-dropdown_active .datepicker,
.date-dropdown_active .date-dropdown__button {
    border-color: $ds50;
}
