@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* date-dropdown */

.date-dropdown {
    width: 150px;
    min-width: 135px;
}

.date-dropdown__title {
    @extend %h3;
    line-height: 2;
}

.date-dropdown__button {
    @extend %body;
    border: 1px solid $ds25;
    border-radius: 4px;
    padding: 9.5px 15px;
    width: 100%;
    background: #fff;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.date-dropdown__button:hover {
    border-color: $ds50;
}

.date-dropdown__button::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid $ds75;
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-70%) rotate(-135deg);
}
