mixin date-dropdown(title, dateDropdownWrapClassList)
    -if (dateDropdownWrapClassList === undefined) {dateDropdownWrapClassList = "";}
    div(class="date-dropdown-wrap " + dateDropdownWrapClassList)
        h3(class="date-dropdown-wrap__title")= title
        div(class="date-dropdown")
            button(class="date-dropdown__button") ДД.ММ.ГГГГ