.buttons {
    max-width: 238px;
}

.buttons__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 16px;
}

.buttons__elem {
    margin-right: 20px;
    margin-bottom: 30px;
}
