mixin buttons(buttonsClassList, title)
    - if(buttonsClassList === undefined) {buttonsClassList = "";}
    div(class="buttons " + buttonsClassList)
        h3(class="buttons__title")= title
        include ./../bg-button/bg-button.pug
        +bg-button("buttons__elem", "Click Me")
        +bg-button("buttons__elem", "Click Me")
        include ./../no-bg-button/no-bg-button.pug
        +no-bg-button("buttons__elem", "Click Me")
        +no-bg-button("buttons__elem", "Click Me")
        include ./../link-button/link-button.pug
        +link-button("buttons__elem", "Click Me")
        +link-button("buttons__elem", "Click Me")
        include ./../large-button/large-button.pug
        +large-button("buttons__elem", "Перейти к оплате")