@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* expandable-checkbox-list */

.expandable-checkbox-list {
    width: 266px;
}

.expandable-checkbox-list__title {
    @extend %h3;
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-right: 44px;
}

.expandable-checkbox-list__title::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid $ds50;
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-70%) rotate(-135deg);
    z-index: 1;
}

.expandable-checkbox-list__list {
    display: none;
}

.expandable-checkbox-list_active .expandable-checkbox-list__list {
    display: block;
}

.expandable-checkbox-list_active .expandable-checkbox-list__title::after {
    transform: translateY(-20%) rotate(45deg);
}

.expandable-checkbox-list__checkbox-title {
    display: none;
}
