mixin expandable-checkbox-list(expandableCheckboxClassList, title, ...names)
    - if (expandableCheckboxClassList === undefined) {expandableCheckboxClassList = "";}
    div(class="expandable-checkbox-list " + expandableCheckboxClassList)
        h3(class="expandable-checkbox-list__title")= title
        div(class="expandable-checkbox-list__list")
            include ./../checkbox/checkbox.pug
            each name in names
                +checkbox(name)