@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* reviews */

.reviews {
    max-width: 711px;
    width: 100%;
    min-width: 266px;
}

.reviews__item {
    padding-left: 58px;
    margin-bottom: 22px;
    position: relative;
    top: 0px;
    left: 0px;
}

.reviews__item:last-child {
    margin-bottom: 0px;
}

.reviews__item-img-name {
    width: 0px;
    height: 0px;
    font-size: 0px;
}

.reviews__item-img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
    border-radius: 50%;
}

.reviews__item-user,
.reviews__item-date,
.reviews__item-text {
    @extend %body;
}

.reviews__item-user {
    font-weight: 700;
}

.reviews__item-text {
    margin-top: 10px;
}

.reviews__item-like-button {
    position: absolute;
    top: 60px;
    left: 4px;
}
