@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* range-slider */

.range-slider-wrap {
    max-width: 266px;
    min-width: 266px;
}

.range-slider-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.range-slider-text__title {
    @extend %h3;
    line-height: 2;
    display: inline-block;
}

.range-slider-text__numbers {
    display: inline-block;
}

.range-slider-text__min-number,
.range-slider-text__hyphen,
.range-slider-text__max-number,
.range-slider-text__units {
    @extend %body;
    font-size: 12px;
    line-height: 2;
    color: $ds50;
}

.range-slider-text__hyphen {
    margin: 0px 5px;
}

.range-slider-text__offset,
.range-slider-text__max-number-hidden,
.range-slider-text__min-number-hidden {
    width: 0px;
    height: 0px;
    display: none;
}

.range-slider {
    width: 100%;
    height: 6px;
    background: #fff;
    border: 1px solid $ds25;
    border-radius: 3px;
    position: relative;
}

.range-slider__circle {
    width: 16px;
    height: 16px;
    background: linear-gradient(180deg, $green 0%, #66d2ea 100%);
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
}

.range-slider__circle_first {
    left: 0px;
}

.range-slider__circle_second {
    right: 0px;
}

.range-slider__gradient {
    left: 0px;
    right: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 145%;
    background: linear-gradient(180deg, $green 0%, #66d2ea 100%);
    border-radius: 3px;
    z-index: 2;
}
