@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* subscription-text-field */

.subscription-text-field {
    max-width: 266px;
    min-width: 266px;
    position: relative;
}

.subscription-text-field__title {
    @extend %h3;
    line-height: 2;
}

.subscription-text-field__field {
    @extend %body;
    border: 1px solid $ds25;
    border-radius: 4px;
    padding: 9.5px 15px;
    padding-right: 50px;
    width: 100%;
}

.subscription-text-field__field::placeholder {
    color: $ds25;
}

.subscription-text-field__button:hover + .subscription-text-field__field,
.subscription-text-field__field:hover,
.subscription-text-field__field:focus {
    border-color: $ds50;
}

.subscription-text-field__button {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 44px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
}

.subscription-text-field__button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 15px;
    height: 2px;
    background-color: $purple;
}

.subscription-text-field__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px) rotate(-45deg);
    width: 12px;
    height: 12px;
    border: 2px solid $purple;
    border-top: none;
    border-left: none;
}
