mixin subscription-text-field(title, classList1)
    -if (classList1 === undefined) {classList1 = "";}
    div(class="subscription-text-field " + classList1)
        h3(class="subscription-text-field__title")= title
        button(class="subscription-text-field__button" type="submit")
        input(class="subscription-text-field__field" type="email" placeholder="Email")