@import "./../../assets/scss-text-templates.scss";

/* pick-up-room */

.pick-up-room {
    display: block;
    max-width: 382px;
    min-width: 302px;
    padding: 30px;
    padding-top: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media (max-width: 370px) {
        padding: 15px;
        padding-top: 30px;
    }
}

.pick-up-room__title {
    @extend %h1;
    max-width: 300px;
    margin-bottom: 18px;
    letter-spacing: 1.2px;
    @media (max-width: 370px) {
        margin-bottom: 10px;
        max-width: none;
        text-align: center;
    }
}

.pick-up-room__date-dropdowns {
    font-size: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 320px;
    margin-bottom: 17px;
    @media (max-width: 370px) {
        margin-bottom: 10px;
    }
}

.pick-up-room__dropdown {
    margin-bottom: 30px;
    @media (max-width: 370px) {
        margin-bottom: 20px;
    }
}
