mixin pick-up-room(parameters)
    - if (parameters === undefined) {parameters = {};}
    - if (parameters.classList === undefined) {parameters.classList = "";}
    form(class="pick-up-room " + parameters.classList action="#")
        h3(class="pick-up-room__title")= parameters.title
        div(class="pick-up-room__date-dropdowns")
            include ./../date-dropdown/date-dropdown.pug
            +date-dropdown(parameters.dateDropdownFirst)
            +date-dropdown(parameters.dateDropdownSecond)
        div(class="pick-up-room__dropdown")
            include ./../dropdown/dropdown.pug
            +dropdown(parameters.dropdown)
        div(class="pick-up-room__button")
            include ./../button/button.pug
            +button(parameters.button)