mixin icon-text-list(parameters)
    - if (parameters.classList === undefined) {parameters.classList = "";}
    div(class="icon-text-list " + parameters.classList)
        mixin icon-text-list__item(item)
            div(class="icon-text-list__item")
                - if (item.title === undefined) {item.title = "Default title";}
                - if (item.text === undefined) {item.text = "Default text";}
                h4(class="icon-text-list__item-title")= item.title
                p(class="icon-text-list__item-text")= item.text
                div(class="icon-text-list__item-img")= item.imgName
        - if (parameters.items === undefined) {parameters.items = [{}];}
        - for (let item of parameters.items)
            +icon-text-list__item(item)