@import "./../../assets/scss-text-templates.scss";
@import "./../../assets/scss-color-variables";

.datepicker-inline .datepicker {
    border-color: $ds25;
}

.datepicker {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    min-width: 302px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 55px;
}

.datepicker--nav {
    border-bottom: 0px;
    margin-bottom: 27px;
}

.datepicker--nav,
.datepicker--content,
.datepicker--buttons {
    padding: 0px;
}

.datepicker--content {
    overflow: hidden;
}

.datepicker--nav-action {
    width: auto;
}

.datepicker--nav-action:hover,
.datepicker--nav-title:hover {
    background: none;
}

.datepicker--nav-title {
    @extend %h2;
    line-height: 1.25;
}

.datepicker--nav-action svg {
    width: 18px;
    height: 18px;
}

.datepicker--nav-action path {
    fill: $purple;
    stroke: none;
    stroke-width: 0px;
}

.datepicker--days-names {
    margin: 0px;
}

.datepicker--day-name {
    @extend %h3;
    color: $purple;
    text-transform: none;
    min-height: 40px;
}

.datepicker--cell {
    @extend %body;
    line-height: 1.25;
    font-size: 12px;
    color: $ds50;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.datepicker--cell.-disabled- {
    cursor: not-allowed;
}

.datepicker--cell.-disabled-.-focus-,
.datepicker--cell.-disabled-.-focus-.-other-month-,
.datepicker--cell.-disabled-.-focus-.-other-decade-,
.datepicker--cell.-disabled-.-range-from-,
.datepicker--cell.-disabled-.-range-to- {
    color: #fff;
    background: #a9aebe;
}

.datepicker--cell-day {
    min-height: 40px;
}

.datepicker--cells-months {
    height: auto;
    justify-content: center;
}

.datepicker--cell-month {
    width: 25%;
    min-height: 65px;
}

.datepicker--years,
.datepicker--cells-years {
    height: auto;
}

.datepicker--cells-years {
    justify-content: center;
}

.datepicker--cell-year {
    width: 25%;
    min-height: 65px;
}

.datepicker--cell.-current- {
    color: #fff;
    background: linear-gradient(180deg, $green 0%, #66d2ea 100%);
}

.datepicker--cell.-current-.-focus-,
.datepicker--cell.-current-.-selected-,
.datepicker--cell.-current-.-in-range-.-selected-,
.datepicker--cell.-focus-,
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-focus-,
.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.datepicker--cell.-range-from-.-range-to-,
.datepicker--cell.-range-to-.-in-range-,
.datepicker--cell.-range-to-.-in-range-.-focus-,
.datepicker--cell-day.-focus-.-other-month-,
.datepicker--cell-day.-selected-.-other-month-,
.datepicker--cell-day.-selected-.-focus-.-other-month-,
.datepicker--cell-year.-range-from-,
.datepicker--cell-year.-focus-.-other-decade-,
.datepicker--cell-year.-selected-.-other-decade-,
.datepicker--cell-year.-selected-.-focus-.-other-decade-,
.datepicker--cell-year.-range-to-.-in-range-.-other-decade-,
.datepicker--cell-year.-range-to-.-in-range-.-other-decade-.-focus-,
.datepicker--cell-year.-range-to-.-in-range-.-selected-,
.datepicker--cell-year.-range-from-.-in-range-.-other-decade-,
.datepicker--cell-year.-range-from-.-in-range-.-other-decade-.-focus-,
.datepicker--cell-year.-range-from-.-in-range-.-selected- {
    color: #fff;
    background: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
    border-radius: 50%;
    border: none;
}

.datepicker--cell.-current-.-in-range-,
.datepicker--cell.-in-range-,
.datepicker--cell.-in-range-.-focus-,
.datepicker--cell-day.-in-range-,
.datepicker--cell-day.-in-range-.-focus-,
.datepicker--cell-day.-in-range-.-other-month-,
.datepicker--cell-day.-in-range-.-focus-.-other-month-,
.datepicker--cell-year.-in-range-.-other-decade-,
.datepicker--cell-year.-in-range-.-other-decade-.-focus- {
    background: rgba(139, 164, 249, 0.25);
    color: $ds50;
    border-radius: 0px;
}

.datepicker--cell.-in-range- {
    z-index: 1;
}

.datepicker--cell.datepicker--cell-year.-range-from- {
    z-index: 2;
}

.datepicker--cell.-range-from- + .datepicker--cell.-in-range-::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(139, 164, 249, 0.25);
    border-radius: 50% 0px 0px 50%;
    position: absolute;
    top: 0px;
    right: 100%;
}

.datepicker--cell.-in-range- + .datepicker--cell.-range-to-::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(139, 164, 249, 0.25);
    border-radius: 0px 50% 50% 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.datepicker--cell.-in-range-.calendar__first-day,
.datepicker--cell.-in-range-.calendar__first-day.-focus-,
.datepicker--cell.-in-range-.calendar__first-month,
.datepicker--cell.-in-range-.calendar__first-year,
.datepicker--cell.-in-range-.calendar__first-year.-focus- {
    border-radius: 50% 0px 0px 50%;
}

.datepicker--cell.-in-range-.calendar__last-day,
.datepicker--cell.-in-range-.calendar__last-day.-focus-,
.datepicker--cell.-in-range-.calendar__last-month,
.datepicker--cell.-in-range-.calendar__last-year,
.datepicker--cell.-in-range-.calendar__last-year.-focus- {
    border-radius: 0px 50% 50% 0px;
}

.datepicker--cell.-in-range- + .datepicker--cell.-range-to-.calendar__first-day::before,
.datepicker--cell.-in-range-.-range-to-.calendar__first-month,
.datepicker--cell.-in-range-.-range-to-.calendar__last-month,
.datepicker--cell.-in-range- + .datepicker--cell.-range-to-.calendar__first-month::before,
.datepicker--cell.-range-from- + .datepicker--cell.-in-range-.-range-to-::before,
.datepicker--cell.-range-from- + .datepicker--cell.-range-to-::before,
.datepicker--cell.-in-range-.calendar__first-year.-focus-.-selected-,
.datepicker--cell.-in-range-.calendar__last-year.-focus-.-selected-,
.datepicker--cell.-in-range- + .datepicker--cell.-range-to-.calendar__first-year::before {
    border-radius: 50%;
}

.datepicker--buttons {
    border-top: 0px;
    display: none;
}

.calendar {
    position: relative;
}

.calendar__apply-clear {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.calendar__clear,
.calendar__apply {
    @extend %h3;
    color: $purple;
    background-color: #fff;
    white-space: nowrap;
    max-width: 45%;
    overflow: hidden;
    cursor: pointer;
}

.calendar__clear:hover,
.calendar__apply:hover {
    color: $brighter-purple;
}

.calendar__input {
    position: absolute;
    border: 1px solid #000;
    bottom: 5px;
    left: 5px;
    font-size: 7px;
    max-height: 10px;
    display: none;
}
