/* fonts */

@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat.eot");
	src: local("☺"), url("./fonts/Montserrat.woff") format("woff"), url("./fonts/Montserrat.ttf") format("truetype"), url("./fonts/Montserrat.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat-bold.eot");
	src: local("☺"), url("./fonts/Montserrat-bold.woff") format("woff"), url("./fonts/Montserrat-bold.ttf") format("truetype"), url("./fonts/Montserrat-bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat-light.eot");
	src: local("☺"), url("./fonts/Montserrat-light.woff") format("woff"), url("./fonts/Montserrat-light.ttf") format("truetype"), url("./fonts/Montserrat-light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}