.header-with-pale-logo__inner {
	position: relative;
	width: 100%;
	min-height: 108px;
}

.header-with-pale-logo__pale-logo {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 0px;
}