@import "./../../assets/scss-color-variables.scss";

.header-with-pale-logo__inner {
    min-height: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.pale-logo {
    width: 48px;
    height: 48px;
    font-size: 0px;
    fill: $ds25;
}

.pale-logo_dark {
    fill: $ds75;
}
