mixin header-with-pale-logo(classList)
    -if(classList === undefined) {classList="";}
    header(class="header-with-pale-logo")
        div(class="header-with-pale-logo__inner " + classList)
            include ./../pale-logo/pale-logo.pug
            +pale-logo("header-with-pale-logo__pale-logo")