@import "./../../../assets/scss-text-templates.scss";

.landing-page__wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.landing-page__content {
    flex: 1 0 auto;
    padding-top: 70px;
    position: relative;
    min-height: 900px;
    @media (max-width: 620px) {
        background-color: #f4f4f6;
        min-height: 600px;
    }
}

.landing-page__footer {
    flex: 0 0 auto;
}

.landing-page__auto-slider-wrap {
    position: relative;
}

.landing-page__auto-slider {
    @media (max-width: 620px) {
        display: none;
    }
}

.landing-page__auto-slider-img {
    display: block;
    min-height: 830px;
}

.landing-page__img-text {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    z-index: 5;
}

.landing-page__img-text-inner {
    display: flex;
    justify-content: flex-end;
}

.landing-page__img-text-paragraph {
    @extend %body;
    max-width: 297px;
    width: 100%;
    text-align: right;
    @media (max-width: 1250px) {
        margin: 0px auto;
        text-align: center;
    }
}

.landing-page__pick-up-room {
    position: absolute;
    top: 140px;
    left: 0px;
    z-index: 3;
    width: 100%;
}

.landing-page__pick-up-room .pick-up-room {
    @media (max-width: 1250px) {
        margin: 0px auto;
    }
}