extends ./../../../assets/page-template.pug
block title
    title Landing Page
block content
    div(class="landing-page__wrap")
        // header
        include ./../../../components/header/header.pug
        +header({
            classList: "header_fixed"
        })
        // content
        div(class="landing-page__content")
            div(class="landing-page__auto-slider-wrap")
                div(class="landing-page__auto-slider")
                    img(class="landing-page__auto-slider-img" src="#" alt="bg-1.jpg")
                    img(class="landing-page__auto-slider-img" src="#" alt="bg-2.jpg")
                    img(class="landing-page__auto-slider-img" src="#" alt="bg-3.jpg")
                div(class="landing-page__img-text")
                    div(class="container-1920")
                        div(class="landing-page__img-text-inner")
                            p(class="landing-page__img-text-paragraph") Лучшие номера для вашей работы, отдыха и просто вдохновения
            div(class="landing-page__pick-up-room")
                div(class="container-1920")
                    div(class="landing-page__pick-up-room-inner")
                        include ./../../../components/pick-up-room/pick-up-room.pug
                        +pick-up-room({
                            title: "Найдём номера под ваши пожелания",
                            dateDropdown: {
                                firstTitle: "Прибытие",
                                secondTitle: "Выезд"
                            },
                            dropdown: {
                                isSmall: false,
                                title: "Гости",
                                active: false,
                                buttonText: "Сколько гостей",
                                applyClear: true,
                                lines: [
                                    {
                                        text: "Взрослые",
                                        number: "0"
                                    },
                                    {
                                        text: "Дети",
                                        number: "0"
                                    },
                                    {
                                        text: "Младенцы",
                                        number: "0"
                                    }
                                ]
                            },
                            button: {
                                text: "Подобрать номер",
                                buttonType: "wide"
                            }
                        })
        // footer
        include ./../../../components/footer/footer.pug
        +footer({
            classList: "landing-page__footer"
        })