@import "./../../../assets/scss-text-templates.scss";

.landing-page__content {
    padding-top: 70px;
    position: relative;
}

.landing-page__auto-slider-img {
    display: block;
    min-height: 900px;
    @media (max-width: 960px) {
        min-height: 600px;
    }
    @media (max-width: 600px) {
        min-height: 500px;
    }
    @media (max-width: 500px) {
        min-height: 440px;
    }
}

.landing-page__field-and-text {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    height: calc(100% - 70px);
    z-index: 4;
}

.landing-page__field-and-text-inner {
    position: relative;
    height: 100%;
    padding-top: 70px;
    @media (max-width: 600px) {
        padding-top: 30px;
    }
}

.landing-page__pick-up-room {
    @media (max-width: 1250px) {
        margin: 0 auto;
    }
}

.landing-page__img-text {
    @extend %body;
    max-width: 297px;
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 0px;
    @media (max-width: 1250px) {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    @media (max-width: 500px) {
        opacity: 0;
    }
    z-index: 5;
}
