mixin masked-text-field(parameters)
    -if (parameters.classList === undefined) {parameters.classList = "";}
    div(class="masked-text-field " + parameters.classList)
        h3(class="masked-text-field__title")= parameters.title
        input(class="masked-text-field__field" type="text" placeholder="ДД.ММ.ГГГГ")
        div(class="masked-text-field__error-message") Внимание, поле с датой не должно содержать нечисловых символов !