/* container-1160 */

.container-1160 {
	max-width: 1440px;
	padding: 0px 140px;
	width: 100%;
	margin: 0 auto;
	@media(max-width: 620px){
		padding: 0px 100px;
	}
	@media(max-width: 540px){
		padding: 0px 70px;
	}
	@media(max-width: 480px){
		padding: 0px 40px;
	}
	@media(max-width: 430px){
		padding: 0px 20px;
	}
	@media(max-width: 380px){
		padding: 10px;
	}
}
