@import "./../../../assets/scss-text-templates.scss";
@import "./../../../assets/scss-color-variables.scss";

.room-details__wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.room-details__content {
    flex: 1 0 auto;
    padding-top: 70px;
    border-bottom: 1px solid $ds25;
}

.room-details__footer {
    flex: 0 0 auto;
}

.room-details__images {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    max-height: 484px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.room-details__images-flex-container {
    display: flex;
    flex-direction: column;
}

.room-details__images-flex-container_first {
    width: 68%;
}

.room-details__images-flex-container_second {
    width: 32%;
}

.room-details__img_big {
    max-height: 484px;
    height: 100%;
    width: 100%;
}

.room-details__img_small {
    max-height: 242px;
    height: 50%;
    width: 100%;
}

.room-details__info-inner {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media (max-width: 1400px) {
        flex-direction: column;
        align-items: center;
    }
}

.room-details__info-flex-elem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 712px;
    margin-bottom: 70px;
    @media (max-width: 920px) {
        flex-direction: column;
        align-items: center;
    }
}

.room-details__info-flex-elem:nth-child(2) {
    max-width: 382px;
    width: 100%;
}

.room-details__graphic {
    @media (max-width: 920px) {
        margin: 30px 0px;
    }
    @media (max-width: 360px) {
        display: none;
    }
}

.room-details__bullet-list .bullet-list__title {
    @extend %h2;
    text-transform: none;
    line-height: 3;
}

.room-details__bullet-list_wide .bullet-list {
    max-width: 340px;
    @media (max-width: 920px) {
        max-width: 260px;
    }
}

.room-details__reviews {
    margin-bottom: 15px;
    @media (max-width: 360px) {
        margin-top: 40px;
    }
}

.room-details__book {
    width: 100%;
}
