extends ./../../../assets/page-template.pug
block title
    title Cards
block content
    div(class="cards__wrap")
        // header
        include ./../../../components/header-with-pale-logo/header-with-pale-logo.pug
        +header-with-pale-logo({
            classList: "container-1920"
        })
        // content
        div(class="cards__content")
            div(class="cards__content-inner container-1920")
                div(class="cards__flex-element")
                    include ./../../../components/pick-up-room/pick-up-room.pug
                    +pick-up-room({
                        classList: "m-b_40",
                        title: "Найдём номера под ваши пожелания",
                        dateDropdown: {
                            firstTitle: "Прибытие",
                            secondTitle: "Выезд"
                        },
                        dropdown: {
                            isSmall: false,
                            title: "Гости",
                            active: false,
                            buttonText: "Сколько гостей",
                            applyClear: true,
                            lines: [
                                {
                                    text: "Взрослые",
                                    number: "0"
                                },
                                {
                                    text: "Дети",
                                    number: "0"
                                },
                                {
                                    text: "Младенцы",
                                    number: "0"
                                }
                            ]
                        },
                        button: {
                            text: "Подобрать номер",
                            buttonType: "wide"
                        }
                    })
                    include ./../../../components/registration/registration.pug
                    +registration({
                        title: "Регистрация аккаунта",
                        firstTextField: {
                            type: "text",
                            placeholder: "Имя"
                        },
                        secondTextField: {
                            type: "text",
                            placeholder: "Фамилия"
                        },
                        radioButtons: {
                            nameOfGroup: "Ваш пол",
                            items: [
                                {
                                    text: "Мужчина",
                                    active: true
                                },
                                {
                                    text: "Женщина",
                                    active: false
                                }
                            ]
                        },
                        maskedTextField: {
                            title: "Дата Рождения"
                        },
                        firstLoginField: {
                            title: "Данные для входа в сервис",
                            type: "email",
                            placeholder: "Email"
                        },
                        secondLoginField: {
                            type: "password",
                            placeholder: "Пароль"
                        },
                        toggle: {
                            items: [
                                {
                                    text: "Получать спецпредложения",
                                    active: false
                                }
                            ]
                        },
                        firstButton: {
                            text: "Перейти к оплате",
                            buttonType: "wide"
                        },
                        bottomText: "Уже есть аккаунт на Toxin",
                        secondButton: {
                            text: "Войти",
                            buttonType: "border"
                        }
                    })
                div(class="cards__flex-element")
                    include ./../../../components/book/book.pug
                    +book({
                        classList: "m-b_40",
                        roomNumber: "888",
                        roomType: "Люкс",
                        pricePerDay: "9990",
                        currency: "₽",
                        dateDropdown: {
                            firstTitle: "Прибытие",
                            secondTitle: "Выезд"
                        },
                        dropdown: {
                            isSmall: false,
                            title: "Гости",
                            active: false,
                            buttonText: "Сколько гостей",
                            applyClear: true,
                            lines: [
                                {
                                    text: "Взрослые",
                                    number: "2"
                                },
                                {
                                    text: "Дети",
                                    number: "1"
                                },
                                {
                                    text: "Младенцы",
                                    number: "0"
                                }
                            ]
                        },
                        discount: "2179",
                        extraServices: "300",
                        button: {
                            text: "Забронировать",
                            buttonType: "wide"
                        }
                    })
                    include ./../../../components/sign-in/sign-in.pug
                    +sign-in({
                        title: "Войти",
                        firstLoginField: {
                            type: "email",
                            placeholder: "Email"
                        },
                        secondLoginField: {
                            type: "password",
                            placeholder: "Пароль"
                        },
                        firstButton: {
                            text: "Войти",
                            buttonType: "wide"
                        },
                        bottomText: "Нет аккаунта на Toxin?",
                        secondButton: {
                            text: "Создать",
                            buttonType: "border"
                        }
                    })
                div(class="cards__flex-element")
                    include ./../../../components/calendar/calendar.pug
                    +calendar({
                        classList: "m-b_40",
                    })
                    include ./../../../components/room-card/room-card.pug
                    +room-card({
                        classList: "m-b_40",
                        images: ["1.jpg", "1.jpg", "1.jpg", "1.jpg"],
                        roomNumber: "888",
                        roomType: "Люкс",
                        roomPrice: "9990",
                        currency: "₽",
                        rate: 5,
                        rateNumber: "145"
                    })
                    +room-card({
                        classList: "",
                        images: ["2.jpg", "2.jpg", "2.jpg", "2.jpg"],
                        roomNumber: "840",
                        roomType: "",
                        roomPrice: "9900",
                        currency: "₽",
                        rate: 4,
                        rateNumber: "65"
                    })