@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* bullet-list */

.bullet-list {
    max-width: 260px;
    min-width: 260px;
    width: 100%;
}

.bullet-list__title {
    @extend %h3;
    line-height: 2;
}

.bullet-list__item {
    @extend %body;
    position: relative;
    display: block;
    padding: 5px 0px;
    padding-left: 20px;
}

.bullet-list__item::before {
    content: "";
    width: 10px;
    height: 10px;
    background: $ds25;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 0px;
}

.bullet-list_no-dots .bullet-list__item::before {
    width: 0px;
    height: 0px;
}

.bullet-list_no-dots .bullet-list__item {
    padding-left: 0px;
}
