mixin bullet-list(parameters)
    - if (parameters === undefined) {parameters = {};}
    - if (parameters.classList === undefined) {parameters.classList = "";}
    div(class="bullet-list " + parameters.classList)
        h3(class="bullet-list__title")= parameters.title
        ul(class="bullet-list__list")
            mixin bullet-list__item(item)
                li(class="bullet-list__item")= item
            - if (parameters.items === undefined) {parameters.items = ["Default item"];}
            - for (let item of parameters.items)
                +bullet-list__item(item)