extends ./../../../assets/page-template.pug
block title
    title Main Page
block content
    div(class="wrap")
        // header
        include ./../../../components/header-with-pale-logo/header-with-pale-logo.pug
        +header-with-pale-logo({
            classList: "container-1440",
            logoClassList: "pale-logo_dark"
        })
        // content
        div(class="content")
            ul(class="link-list")
                li(class="link-list__item")
                    h3(class="link-list__title") Страницы
                li(class="link-list__item")
                    a(class="link-list__link" href="./pages/colors-and-type.html") Colors&amp;Type
                li(class="link-list__item")
                    a(class="link-list__link" href="./pages/form-elements.html") Form Elements