@import "./../../../assets/scss-color-variables.scss";
@import "./../../../assets/scss-text-templates.scss";

.index__wrap {
    height: 100%;
    background: url("./img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 650px;
}

.index__content-inner {
    display: flex;
    justify-content: center;
}

.index__list {
    max-width: 302px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    padding-top: 10px;
    min-height: 400px;
}

.index__list-title {
    @extend %h1;
    font-size: 38px;
    color: $purple;
    white-space: nowrap;
}

.index__list-item {
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
}

.index__list-link {
    @extend %body;
    font-size: 30px;
    line-height: 0.8;
    white-space: nowrap;
}

.index__list-link:hover {
    color: $ds100;
}

.index__list-link:active {
    color: $green;
}
