@import "./../../../assets/scss-color-variables.scss";

.wrap {
    height: 100%;
    background: url("./img/bg.jpg") no-repeat;
    background-size: cover;
    min-height: 600px;
}

.content {
    display: flex;
    justify-content: center;
}

.link-list {
    display: inline-block;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 20px;
    min-height: 400px;
}

.link-list__title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: $purple;
    font-weight: 700;
}

.link-list__item {
    padding: 10px 0px;
    text-align: center;
}

.link-list__link {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: $ds75;
}

.link-list__link:hover {
    color: $ds100;
}

.link-list__link:active {
    color: $green;
}
