@import "./../../../assets/scss-color-variables.scss";
@import "./../../../assets/scss-text-templates.scss";

.wrap {
    height: 100%;
    background: url("./img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.content {
    display: flex;
    justify-content: center;
}

.link-list {
    max-width: 300px;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 20px;
    min-height: 400px;
}

.link-list__title {
    @extend %h1;
    font-size: 36px;
    color: $purple;
}

.link-list__item {
    padding: 10px 0px;
    text-align: center;
}

.link-list__link {
    @extend %body;
    font-size: 32px;
    line-height: 0.8;
}

.link-list__link:hover {
    color: $ds100;
}

.link-list__link:active {
    color: $green;
}
