mixin footer(parameters)
    - if (parameters === undefined) {parameters = {};}
    - if (parameters.classList === undefined) {parameters.classList = "";}
    footer(class="footer " + parameters.classList)
        div(class="footer__content")
            div(class="container-1920")
                div(class="footer__content-inner")
                    div(class="footer__content-item footer__content-item_wide")
                        div(class="footer__logo")
                            include ./../../assets/logo.svg
                        p(class="footer__text") Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    div(class="footer__content-item")
                        h4(class="footer__title") Навигация
                        a(class="footer__link" href="./error-404.html") О нас
                        a(class="footer__link" href="./error-404.html") Новости
                        a(class="footer__link" href="./error-404.html") Служба поддержки
                        a(class="footer__link" href="./error-404.html") Услуги
                    div(class="footer__content-item")
                        h4(class="footer__title") О нас
                        a(class="footer__link" href="./error-404.html") О сервисе
                        a(class="footer__link" href="./error-404.html") Наша команда
                        a(class="footer__link" href="./error-404.html") Вакансии
                        a(class="footer__link" href="./error-404.html") Инвесторы
                    div(class="footer__content-item")
                        h4(class="footer__title") Служба поддержки
                        a(class="footer__link" href="./error-404.html") Соглашения
                        a(class="footer__link" href="./error-404.html") Сообщества
                        a(class="footer__link" href="./error-404.html") Связь с нами
                    div(class="footer__content-item footer__content-item_wide")
                        h4(class="footer__title") Подписка
                        p(class="footer__text") Получайте специальные предложения и новости сервиса
                        include ./../subscription-text-field/subscription-text-field.pug
                        +subscription-text-field()
        div(class="footer__bottom")
            div(class="container-1920")
                div(class="footer__bottom-inner")
                    div(class="footer__copyright") Copyright © 2018 Toxin отель. Все права защищены.
                    div(class="footer__social-links")
                        a(class="footer__social-link" href="./error-404.html")
                            include ./img/twitter.svg
                        a(class="footer__social-link" href="./error-404.html")
                            include ./img/facebook.svg
                        a(class="footer__social-link" href="./error-404.html")
                            include ./img/instagram.svg