.link-button {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #bc9cff;
}

.link-button:hover {
    color: rgba(31, 32, 65, 0.5);
}