extends ./../../assets/page-template.pug
block title
    title FormElements
block content
    // header
    include ./../../components/header-with-pale-logo/header-with-pale-logo.pug
    +header-with-pale-logo("container-1440")
    // main-content
    div(class="main-content")
        div(class="main-content__inner container-1160")
            div(class="flex-element")
                form(class="form" action="#")
                    include ./../../components/email-block/email-block.pug
                    +email-block("Text Field", "form__block")
                    +email-block("Text Field", "form__block")
                    include ./../../components/dropdown/dropdown.pug
                    +dropdown("Dropdown", "form__block")
                    include ./../../components/date-field/date-field.pug
                    +date-field("Masked text field", "form__block")
                    include ./../../components/date-dropdown/date-dropdown.pug
                    +date-dropdown("Date Dropdown", "form__inline-block")
                    +date-dropdown("Date Dropdown", "form__inline-block")
                    include ./../../components/filter-date-dropdown/filter-date-dropdown.pug
                    +filter-date-dropdown("Filter Date Dropdown", "form__block")
                    include ./../../components/subscription-text-field/subscription-text-field.pug
                    +subscription-text-field("Subscription text field", "form__block")
            div(class="flex-element")
                form(class="form" action="#")
                    include ./../../components/checkbox-buttons/checkbox-buttons.pug
                    +checkbox-buttons("Checkbox Buttons", "form__block")