extends ./../../assets/pageTemplate.pug
block title
    title MainPage
block content
    div Hello from all
    div
        a(href="html/colorsAndType.html") Colors&amp;Type
    div
        a(href="html/formElements.html") FormElements