extends ./../../assets/page-template.pug
block title
    title MainPage
block content
    div Hello from all people
    div
        a(href="html/colors-and-type.html") Colors&amp;Type
    div
        a(href="html/form-elements.html") FormElements