/* Atomic Margin */

.m-b_10 {
    margin-bottom: 10px;
}

.m-b_15 {
    margin-bottom: 15px;
}

.m-b_20 {
    margin-bottom: 20px;
}

.m-b_25 {
    margin-bottom: 25px;
}

.m-b_30 {
    margin-bottom: 30px;
}

.m-b_35 {
    margin-bottom: 35px;
}

.m-b_40 {
    margin-bottom: 40px;
}

.m-b_95 {
    margin-bottom: 95px;
}

.m-r_15 {
    margin-right: 15px;
}

.m-r_20 {
    margin-right: 20px;
}

.m-r_25 {
    margin-right: 25px;
}

.m-l_50 {
    margin-left: 50px;
}

.m-l_54 {
    margin-left: 54px;
}

.m-t_-30 {
    margin-top: -30px;
}
