doctype html
html(lang="ru")
    head
        //meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="Отель, номера, подобрать")
        meta(name="description" content="Подбор номеров в отеле")
        //title
        block title
            title DefaultTitle
        //favicon
        include ./favicon/favicon.pug
    body
        block content