// scss-color-variables

$ds100: rgba(31, 32, 65, 1);
$ds75: rgba(31, 32, 65, 0.75);
$ds50: rgba(31, 32, 65, 0.5);
$ds25: rgba(31, 32, 65, 0.25);
$ds5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
