/* email-field-block */

.email-block {
	max-width: 320px;
	min-width: 220px;
}

.email-block__title {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.25;
	text-transform: uppercase;
	color: #1F2041;
	padding: 5px 0px;
	letter-spacing: 0.3px;
}

.email-block__field {
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	padding: 13px 15px;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.25;
	color: rgba(31, 32, 65, 0.75);
}

.email-block__field::placeholder {
	color: rgba(31, 32, 65, 0.25);
	font-weight: 300;
}

.email-block__field:hover, .email-block__field:focus {
	border: 1px solid rgba(31, 32, 65, 0.5);
}