@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

/* toggle */

.toggle {
    max-width: 260px;
}

.toggle__title {
    @extend %h3;
    line-height: 2.2;
}

.toggle__label {
    display: block;
    padding: 9px 0px;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

.toggle__checkbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 1;
}

.toggle__check {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 1);
    border: 1px solid $ds25;
    border-radius: 10px;
    z-index: 2;
}

.toggle__check::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background: $ds25;
    border-radius: 50%;
    z-index: 3;
}

.toggle__checkbox:checked + .toggle__check {
    border-color: $purple;
}

.toggle__checkbox:checked + .toggle__check::before {
    left: 23px;
    background: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
}

.toggle__text {
    @extend %body;
    display: inline-block;
    line-height: 1.2;
    padding-left: 50px;
}
