mixin checkbox-buttons(title, checkboxButtonsClassList)
    - if (checkboxButtonsClassList === undefined) {checkboxButtonsClassList = "";}
    div(class="checkbox-buttons " + checkboxButtonsClassList)
        h3(class="checkbox-buttons__title")= title
        include ./checkbox-buttons__checkbox/checkbox-buttons__checkbox.pug
        +checkbox-buttons__checkbox("Можно курить")
        +checkbox-buttons__checkbox("Можно с питомцами")
        +checkbox-buttons__checkbox("Можно пригласить гостей (до 10 человек)")