mixin checkbox-buttons(title, checkboxButtonsClassList)
    - if (checkboxButtonsClassList === undefined) {checkboxButtonsClassList = "";}
    div(class="checkbox-buttons " + checkboxButtonsClassList)
        h3(class="checkbox-buttons__title")= title
        mixin checkbox-buttons__checkbox(text)
            label(class="checkbox-buttons__label")
                input(class="checkbox-buttons__checkbox" type="checkbox" name=text value="Yes")
                span(class="checkbox-buttons__text")= text
        +checkbox-buttons__checkbox("Можно курить")
        +checkbox-buttons__checkbox("Можно с питомцами")
        +checkbox-buttons__checkbox("Можно пригласить гостей (до 10 человек)")