.checkbox-buttons {
    width: 222px;
}

.checkbox-buttons__title {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.25;
	text-transform: uppercase;
	color: #1F2041;
	padding: 5px 0px;
	letter-spacing: 0.3px;
}