.square-with-text {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.square-with-text__square {
	background: #1F2041;
	border-radius: 6px;
	width: 70px;
	height: 70px;
    margin-right: 40px;
}

.square-with-text__text {
	color: #1F2041;
	font-size: 19px;
	line-height: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 171px;
	letter-spacing: 0.5px;
}

.square-with-text__name {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

.square-with-text__code {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.square-with-text__square_opacity_075 {
	opacity: 0.75;
}

.square-with-text__square_opacity_050 {
	opacity: 0.50;
}

.square-with-text__square_opacity_025 {
	opacity: 0.25;
}

.square-with-text__square_opacity_005 {
	opacity: 0.05;
}

.square-with-text__square_color_purple {
	background-color: #BC9CFF;
}

.square-with-text__square_color_green {
	background-color: #6FCF97;
}