@import "./../../assets/scss-color-variables.scss";
@import "./../../assets/scss-text-templates.scss";

.graphic-wrap {
    width: 340px;
    height: 170px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graphic__title {
    @extend %h2;
    line-height: 1.5;
    padding-left: 27px;
}

.graphic {
    max-height: 126px;
    min-height: 126px;
    min-width: 100%;
    max-width: 100%;
}

.graphic__sum {
    position: absolute;
    bottom: 25%;
    left: 35px;
    width: 100px;
    z-index: -1;
}

.graphic__sum-number {
    @extend %h1;
    color: $purple;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.graphic__sum-text {
    @extend %h3;
    color: $purple;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
